@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
    --clr-primary: #2979FF;
    --clr-primary-light: #EBF5FF;
    --clr-background: #ffd056;
    --clr-but-back: #079bc5;
    --clr-text-dark: #1D1D1F;
    --clr-text-muted: #8A8A8E;
    --clr-high-text: #697A21;
    --clr-high-cont: #606C38;
    --clr-white: #FFFFFF;
    --clr-border: #EAEAEA;
  }

body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #ffd056;
    color: #1D1D1F;
  }

  .card {
    background-color: #FFFFFF;
    border-radius: 24px; /* This is the key "bubbly" look */
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #EAEAEA;
  }

  .btn-primary {
    background-color: #2979FF;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    padding: 14px 24px;
    border-radius: 100px; /* Pill shape */
    cursor: pointer;
    font-size: 16px;
  }

  .btn-icon-secondary {
    background-color: #F7F9FC; /* Or 'primary-light' #EBF5FF */
    color: #2979FF; /* Or 'text-dark' #1D1D1F */
    border: 1px solid #EAEAEA;
    padding: 12px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
  }

.cust-button{
    background-color: #079bc5;
}

.high-text{
    color: var(--clr-but-back)
}

.active-text{
    color: var(--clr-but-back);
    border-color: var(--clr-but-back);
    border-bottom: solid 2px;
}

.bg-blue-500{
    color: var(--clr-but-back);
    background-color: var(--clr-but-back);
}
.bg-blue-600{
    background-color: var(--clr-but-back);
}
.text-blue-600{
    color: var(--clr-but-back);
}

.bg-green-600{
    background-color: var(--clr-high-text);
}

.bg-red-600{
    background-color: #ee6b6e;
}